.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}

.grid {
  min-width: 80rem;
  height: 80rem;
}
