<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side">Sidenav content</mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="toolbar">
      <button
        (click)="sidenav.toggle()"
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <mat-nav-list class="navigation">
        <a
          mat-list-item
          [routerLink]="['/home']"
          routerLinkActive="router-link-active"
        >
          Home
        </a>

        <a
          mat-list-item
          [routerLink]="['/crypto']"
          routerLinkActive="router-link-active"
        >
          Cryptos
        </a>
      </mat-nav-list>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
